<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Créditos</title>
</head>
<body>
    <h1>Créditos</h1>
    <p><%= name %></p>
    <p><%= message %></p>
</body>
</html>